<section class="sidebar">
  <section class="name">
    <a href="/">
      <span id="fname">Itamar's</span>
      <span id="fname">Blog.</span>
    </a>
  </section>

  <section class="meta">
    <a href="https://github.com/iravid" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/itrvd" target="_blank" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/index.html">posts</a></li>
    </ul>
  </section>
</section>
